#new-card {
  background-color: cadetblue;
  display: flex;
  height: 100vh;
}

#form-container {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 20px;
  width: 50%;
}


#form-container #title {
  padding-right: 45%;
}

#form-container input, #form-container textarea {
  background-color: #fafafa;
  border: none;
  border-bottom: 2px solid rgba(51, 51, 51, 0.7);
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

#card-container {
  align-items: center;
  background-color: #023031;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 20px;
  width: 50%;
}


#card-container #title {
  padding-right: 45%;
}

#card-container #box-white {
  align-items: center;
  background-color: #fafafa;
  border-radius: 10px;
  display: flex;
  height: 70vh;
  justify-content: center;
  padding: 10px;
  width: 50%;
}

#card-container #box-green {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #036b52;
  border-radius: 10px;
  height: 98%;
  width: 98%;
}

.bg-title h1 {
  margin: 0;
  padding: 0 10px;
}

.bg-title {
  background: #023031;
  border-radius: 10px 10px 0px 0px;
  text-align: end;
  padding: 10px 0px;
  width: 100%;
}
.image img {
  max-width: 100%;
  max-height: 100%;
}
.image {
  margin: 20px;
  height: 200px;
  width: 200px;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.box-attr {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  width: 95%;
  margin: 5px 0;
  border-radius: 10px;
}

.box-attr p {
  background: #F0F2F5;
  border-radius: 10px;
  color: #023031;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 5px 10px;
}

.description {
  max-width: 95%;
}

.grid-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid-card #card-container {
  padding: 30px 0px;
  background: #FAFAFA;
}

.grid-card #card-container #box-white {
  background: #FAFAFA;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.3);
}